/* doing this with STYLE*/

* {
    box-sizing: border-box;
  }

  h1{
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
  }

  h1 span {
    position: relative;
    top: 1vh;
    display: inline-block;
    animation: bounce 1s ease infinite alternate;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 7.30vw;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }

  body{
    margin: 0;
  }

  @keyframes bounce {
    100% {
      top: -1vh;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }

  .background-image {
    background-image: url('resources/images/maps/Map2.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: both;
    animation: backgroundScroll 20s linear infinite alternate;
    animation-fill-mode: both;
    display: block;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
  }

  @keyframes backgroundScroll {
    0% {background-position: 0% 0%;}
    100% {background-position: 0% 100%;}
  }

  @-webkit-keyframes backgroundScroll {
    from {background-position: 0% 0%;}
    to {background-position: 0% 200%;}
  }

  .main-outer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60vw;
  }

  .content {
    /*background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 5vw;
    width: 100vw;
    left: 0vw;
    position: fixed;
    margin-left: 0vw;
    margin-right: 20vw;
    right: 0;
    z-index: 2;
    padding: 0 15vw;
  }

  .joinCreateContainer{
    text-align: center;
  }

  .button{
    padding: 2vw 10vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline-block;
    justify-content: center;
    color: #fff;
  }

  .hidden{
    display: none;
  }

  .big {
    font-size: 3vw;
    width:100%;
  }

  .small{
    font-size: 3vw;
    width: 49%;
  }

  .join{background-color: #4CAF50;}
  .join:hover {background-color: #1fbb1f}
  .join:active {
    background-color: #1fbb1f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .create{background-color: #b42f2f; margin: 3% 0px}
  .create:hover {background-color: #b91313}
  .create:active {
    background-color: #b91313;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .settings{
    background-color: #5935bb;
    margin-left: 2%;
  }
  .settings:hover {background-color: #4c24b9;}
  .settings:active{
    background-color: #4c24b9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .credits{
    background-color: #A6A6B2;
    float: left;
  }
  .credits:hover {background-color: #BDBECC;}
  .credits:active{
    background-color: #BDBECC;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .validate {
    background-color: #A6A6B2;
    padding: .5vw;
    width:40%;
    transform: translateX(3.5vw);
    box-shadow: 0 5px #1fbb1f
  }
  .validate:hover {
    background-color: #BDBECC;
    transform: translateX(3.5vw);
    box-shadow: 0 5px #1fbb1f}
  .validate:active {
    background-color: #DCDDED;
    box-shadow: 0 5px #1fbb1f;
    transform: translateY(4px);
    transform: translateX(3.5vw);
  }

  .inputID {
    background-color: #A6A6B2;
    transform: translate(-7vw, -1vw);
    color: #FFFFFF;
    width: 58%;
    padding: 1vw 1vw;
    border-radius: 15px;
  }

  .inputBox {
    background-color: #1fbb1f;
    height: 8vw;
  }
