/* doing this with STYLE*/

* {
    box-sizing: border-box;
  }
  
  .background-image {
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
  }
  
  .content {
    /*background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 10px;
    left: 0;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
  }

  .joinCreateContainer{
    text-align: center;
  }

  .joinCreateButton {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .joinCreateButton:hover {background-color: #3e8e41}
  
  .joinCreateButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
